<!DOCTYPE html>
<html>
<head>
	<title>NBA Box Score Generator</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<style type="text/css">
		.matchup-wrapper {height:200px;}
	</style>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".matchup").each(function(i, el) {
				$el = $(el);
				var home = $el.find(".home").attr("shortcode");
				var away = $el.find(".away").attr("shortcode");
				var date = $(".jumbotron").find("h2").text().split("/");
				var year = date[2];
				var day = date[1];
				var month = date[0].slice(9).trim();
				var postgame = $el.find(".postgame");
		
				$el.find(".btn").click(function() {
					$.get("/generate", {"home": home,
											  "away": away, 
											  "year": year,
											  "month": month,
											  "day": day
											 }, function(data) {
						postgame.val(data).removeClass("hidden");
					});
				});
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>r/NBA Box Score Generator</h1>
			<h2>Games for {{ date.month }}/{{ date.day }}/{{ date.year }}</h2>
		</div>
		<div class="row">
		{% for g in games %}
		<div class="matchup-wrapper col-md-12">
			<div class="matchup col-md-6">
				<div class="time col-md-12"><h4>{{ g.time }}</h4></div>
				<div class="home col-md-12" shortcode="{{ g.home.shortcode }}"><h4>{{ g.home.name }} : {{ g.scores[0] }}</h4></div>
				<div class="away col-md-12" shortcode="{{ g.away.shortcode }}"><h4>{{ g.away.name }} : {{ g.scores[1] }}</h4></div>
				<br />
				<input type="button" class="btn" value="Generate Box Score" />
			</div>
			<div class="col-md-6">
				<textarea rows="5" class="postgame form-control"></textarea>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</body>
</html>

