<!DOCTYPE html>
<html>
<head>
	<title>NBA Post-Game Recap Generator</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".matchup").each(function(i, el) {
				$el = $(el);
				var home = $el.find(".home").attr("shortcode");
				var away = $el.find(".away").attr("shortcode");
				var date = $(".jumbotron").find("h2").text().split("/");
				var year = date[2];
				var month = date[1];
				var day = date[0].slice(9).trim();
				var postgame = $el.find(".postgame");
		
				$el.find(".btn").click(function() {
					$.get("/generate", {"home": home,
											  "away": away, 
											  "year": year,
											  "month": month,
											  "day": day
											 }, function(data) {
						postgame.val(data).removeClass("hidden");
					}); 
				});
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>r/NBA Post-Game Recap Generator</h1>
			<h2>Games for {{ date.month }}/{{ date.day }}/{{ date.year }}</h2>
		</div>
		{% for g in games %}
		<div class="matchup">
			<div class="time">{{ g.time }}</div>
			<div class="home" shortcode="{{ g.home.shortcode }}">{{ g.home.name }}</div>
			<div class="away" shortcode="{{ g.away.shortcode }}">{{ g.away.name }}</div>
			<input type="button" class="btn" value="Generate Post Game" />
			<textarea cols="15" class="postgame hidden"></textarea>
		</div>
		{% endfor %}
	</div>
</body>
</html>

